/* p {
    padding-top: 14px;
    padding-bottom: 14px;
} */
@media (max-width:449px) {
.header-al {
padding-left: 15px;
font-size: 13px;
}
}

@media (min-width:1024px) {
.header-al {
padding-left: 127px;
font-size: 30px;
}
}